main {
  position: relative;
  background-color: white;
  width: 23rem;
  height: 25rem;
  border-radius: 20px;
  .header {
    background-image: url("../assets/images/bg-pattern-card.svg");
    height: 40%;
    border-radius: 20px 20px 0 0;
  }
}
