// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
  background-repeat: no-repeat;
  background-position: left -10vw top -40vh, calc(60vw) calc(60vh);
  background-size: contain;
}
