$colors: (
  primary: (
    dark-cyan: hsl(185, 75%, 39%),
    dark-blue: hsl(229, 23%, 23%),
    light-gray: hsl(227, 10%, 46%),
  ),
  secondary: (),
  neutral: (
    dark-gray: hsl(0, 0%, 59%),
  ),
);
